@model IEnumerable<TOCAMM.Models.Usuario>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pass)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pass)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.usuarioId }) |
                @Html.ActionLink("Details", "Details", new { id=item.usuarioId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.usuarioId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
